<main class="container my-5">
    <h1 class="text-center mb-4">Editar Perfil</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="bg-2 animate-slideUp">
        <div class="card-body">
            <div class="mb-3">
            <label for="name" class="form-label fw-bold">Nombre</label>
            <input id="name" formControlName="name" type="text" class="form-control">
            </div>

            <div class="mb-3">
            <label for="description" class="form-label fw-bold">Descripción</label>
            <input id="description" formControlName="description" type="text" class="form-control">
            </div>

            <div *ngIf="mensajeError" class="alert alert-danger text-center">{{ mensajeError }}</div>
            <div *ngIf="mensajeOk" class="alert alert-success text-center">{{ mensajeOk }}</div>

            <div class="d-grid mt-3">
                <button class="btn btn-1" type="submit">Guardar Cambios</button>
            </div>
        </div>
    </form>
</main>